#heading {
  color: #673ab7;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p {
  color: #555;
  text-align: center;
}

.form {
  background: rgba(255, 255, 255, 0.995);
  max-width: 1100;
  border-radius: 10px;

  legend {
    font-style: italic;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



  }
}

body {
  background-color: #f0ecf9;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}